#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  display: grid;
  grid-template-rows: 2rem auto 1rem;
}

.App header {
  background: darkslateblue;
  color: yellow;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.App main {
  display: flex;
  flex-direction: row;
  height: 44rem;
}

.App .leaflet-container {
  height: 100%;
  width: calc(100% - 20rem);
  order: 1;
}

.App .search-container {
  order: 2;
  width: 20rem;
}

.App footer {
  background: black;
  color: white;
  font-size: smaller;
  text-align: right;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  padding: 0 1rem;
}

/*
#mapid {
  height: 400px;
}
*/